doctype html
html
    meta(charset='UTF-8')
    title Світ книг
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='shortcut icon', href='/images/books/sample.png')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    style.
        body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
        .w3-row-padding img {margin-bottom: 12px}
    body
        .w3-top
            .w3-bar.w3-light-grey.w3-white.w3-padding.w3-card-2(style='letter-spacing:4px;')
                a.w3-bar-item.w3-button(href='/') Головна
                .w3-right.w3-hide-small
                    a.w3-bar-item.w3-button(href='/books/') Список книг
                    a.w3-bar-item.w3-button(href='/books/add') Додати книгу
                    a.w3-bar-item.w3-button(href='/#about') Інфо
        nav.w3-sidebar.w3-hide-medium.w3-hide-small(style='width:40%; padding-top: 54px; z-index: -1;')
            img(src='/images/books/#{book["tag"]}.jpg', style='width:100%;height:99%')
        .w3-main.w3-padding-large(style='margin-left:40%')
            header.w3-container.w3-center(style='padding-top: 80px;')
                h1.w3-xxlarge
                    b= book["name"]
                p= book["author"]
            .w3-padding.w3-content

                    .w3-row
                        .w3-quarter.w3-center
                            .w3-large
                                b Публікація
                                div= book["pub_date"]
                        .w3-quarter.w3-center
                            .w3-large
                                b Рейтинг
                                div
                                    - for (var i=0; i<5; i++)
                                        - if (i < book["rating"])
                                            span.fa.fa-star.checked(style='color: orange;')
                                        - else
                                            span.fa.fa-star.checked(style='color: gray;')
                        .w3-quarter.w3-center
                            .w3-large
                                b= book['likes_num']
                                div.w3-text-green Сподобалося
                        .w3-quarter.w3-center
                            .w3-large
                                b= book['dislikes_num']
                                div.w3-text-red Не сподобалося
                h4
                    b Опис
                .w3-medium
                    div= book["descr"]

                form.w3-right-align(style='padding-top: 16px;', method='post', action='/books/' + book_id + '/delete')
                    input.w3-button.w3-round.w3-red(type='submit', value='Видалити')
